@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$pale-blue: hsl(225, 100%, 94%);
$v-pale-blue: hsl(225, 100%, 98%);
$bright-blue: hsl(245, 75%, 52%);
$hover-blue: hsl(245, 75%, 70%);
$desatured-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$font: 'Red Hat Display', sans-serif;

*{
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    background: url(/public/images/pattern-background-desktop.svg) repeat-x;
    background-color: $pale-blue;
}
main{
    background-color: white;
    max-width: 450px;
    min-width: 254px;
    border-radius: 1rem;
    padding-bottom: 1rem;
}
.image{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}
.content{
    margin: 0 auto;
    width: 80%;
}
.text__title{
    color: $dark-blue;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
}
.text__paragraph{
    color: $desatured-blue;
    text-align: center;
    line-height: 1.5rem;
}
.plan{
    display: flex;
    align-items: center;
    position: relative;
    background-color: $v-pale-blue;
    padding: 0 1.5rem;
    border-radius: 1rem;
}
.plan__icon{
    height: 100%;
}
.plan__details{
    margin-left: 20px;
}
.plan__title{
    color: $dark-blue;
    font-weight: 900;
    margin-bottom: 0;
}
.plan__price{
    color: $desatured-blue;
    margin-top: 5px;
}
.plan__change{
    color: $bright-blue;
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
}
.plan__change:hover, .plan__change:active{
    color: $hover-blue;
    text-decoration: none;
}
.buttons{
    margin-top: 2rem;
}
.button{
    background-color: $bright-blue;
    color: white;
    text-decoration: none;
    box-shadow: 0px 10px 45px -14px rgba(56,41,224,0.75);
    display: block;
    text-align: center;
    padding: 1rem;
    border-radius: .7rem;
}
.button--transparent{
    background-color: transparent;
    color: $desatured-blue;
    box-shadow: none;
    margin-top: 1.5rem;
}
.button:hover, .button:active{
    background-color: $hover-blue;
}
.button--transparent:hover, .button--transparent:active{
    background-color: transparent;
    color: $dark-blue;
}

@media screen and (max-width: 470px) {
    main{
        width: 90%;
    }
}
@media screen and (max-width: 290px) {
    main{
        height: 90%;
    }
}